html {
    background-color: #203B2F;
    color: white;
    font-family: Raleway;
    font-size: 20px;
}

a {
    background-color: #646E44;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: Raleway;
    font-size: 20px;
}